body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: url('https://images.unsplash.com/photo-1567427017947-545c5f8d16ad?auto=format&fit=crop&w=1600&q=80') 
              no-repeat center center fixed;
  background-size: cover;
}
